:root {
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary01: #f5b526;
  --primary02: #fac04e;
  --primary03: #fce9be;
  --secondary01: #5b98cd;
  --secondary02: #ebf3ff;
  --secondary03: #52c158;
  --secondary04: #e8f9e9;
  --accent01: #75bcf5;
  --accent02: #63db6a;
  --accent03: #37e4a6;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f2f2f2;
  --dark01: #212529;
  --dark02: #4d4d4d;
  --dark03: #808080;
  --dark04: #d9d9d9;
  --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

.text-primary-1 {
  color: var(--primary01);
}
.text-primary-1 {
  color: var(--primary01);
}
.text-primary-2 {
  color: var(--primary02);
}
.text-primary-3 {
  color: var(--primary03);
}
.text-secondary-1 {
  color: var(--secondary01);
}
.text-secondary-2 {
  color: var(--secondary02);
}
.text-secondary-3 {
  color: var(--secondary03);
}
.text-secondary-4 {
  color: var(--secondary04);
}
.text-accent-1 {
  color: var(--accent01);
}
.text-accent-2 {
  color: var(--accent02);
}
.text-accent-3 {
  color: var(--accent03);
}
.text-dark-1 {
  color: var(--dark01);
}
.text-dark-2 {
  color: var(--dark02);
}
.text-dark-3 {
  color: var(--dark03);
}
.text-dark-4 {
  color: var(--dark04);
}

.bg-primary-1 {
  background-color: var(--primary01);
  color: var(--white);
}
.bg-primary-1 {
  background-color: var(--primary01);
}
.bg-primary-2 {
  background-color: var(--primary02);
}
.bg-primary-3 {
  background-color: var(--primary03);
}
.bg-secondary-1 {
  background-color: var(--secondary01);
}
.bg-secondary-2 {
  background-color: var(--secondary02);
}
.bg-secondary-3 {
  background-color: var(--secondary03);
  color: var(--white);
}
.bg-accent-1 {
  background-color: var(--accent01);
}
.bg-accent-2 {
  background-color: var(--accent02);
}
.bg-accent-3 {
  background-color: var(--accent03);
}
.bg-secondary-4 {
  background-color: var(--secondary04);
}
.bg-dark-1 {
  background-color: var(--dark01);
  color: var(--white);
}
.bg-dark-2 {
  background-color: var(--dark02);
  color: var(--white);
}
.bg-dark-3 {
  background-color: var(--dark03);
  color: var(--white);
}
.bg-dark-4 {
  background-color: var(--dark04);
}

/* Main Style Starts */

.bg-primary {
  background-color: #274d76;
}
.bg-grey {
  background-color: #d3d3d3;
}
.bg-progress {
  background-color: #ddc523;
}

.form-control {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 0;
}

.bg-form {
  border-radius: 0.7rem;
  padding: 0.3rem;
  background-color: rgba(39, 77, 118, 0.1);
}

.bg-form-outline {
  border-radius: 0.7rem;
  padding: 0.3rem;
  border: 0.15em solid #d4dbe4;
  background-color: #fff;
}

.form-control:valid {
  background-color: transparent;
}

.activities {
  background-color: #fff;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  margin-top: 1rem;
  height: 100%;
}

.event {
  background-color: #e9edf1;
  border-radius: 1rem;
  margin-top: 0.8rem;
  width: 100%;
}

.event h5 {
  font-size: 0.5em;
  font-weight: 400;
}
.event p {
  font-size: 0.8em;
}

.rounded-corner {
  border-radius: 2em;
}

.btn {
  background-color: #274d76;
  padding: 0.75rem 1rem;
  border-radius: 0.7rem;
  color: #fff;
}

.btn-circle {
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-delete {
  background-color: transparent;
  border: 0.15em solid #dc3545;
  color: #dc3545;
}

.btn-outline-secondary {
  background-color: #fff;
  color: #6c757d;
  border-color: #6c757d;
}

.btn-success {
  background-color: #40aa71;
}

.main-radius {
  border-radius: 2em 2em 0 0;
}

.event .btn {
  font-size: 0.5em;
  border-radius: 2em;
  background: transparent;
  color: #274d76;
  border: 0.15em solid #274d76;
}

.event .danger {
  background-color: #ce5454;
  color: #fff;
  border: none;
}

.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100%;
  background-color: #274d76;
}

header {
  flex: 0 1 auto;
  padding: 0.5em 0;
}

.chooser{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.main-content {
  flex: 1 1 auto;
  /* border-radius: 2em 2em 0 0; */
  background-color: white;
  overflow: auto;
  scrollbar-width: none;
}

.main-content::-webkit-scrollbar {
  display: none;
}

.flip-card {
  /* background-color: transparent; */
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: fit-content;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
